
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

SECRET_KEY=
DEV_DATABASE_URL=
# SLACK
SLACK_TOKEN=
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

# TWITTER
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=

